header {
  margin: 0;
  padding: 0;
  width: 100%;
}
#topnav .separator {
  color: white;
}
#rightHeaderMenu a,
#rightHeaderMenu a img,
#rightHeaderMenu img {
  z-index: 10;
  color: #000088;
}
#rightHeaderMenu .ico {
  color: #69aa3b;
}
#rightHeaderMenu div a:hover span.ico,
#rightHeaderMenu div a:hover span.text,
.onRight span.cityText:hover,
.onRight span.tempText:hover,
.onRight span.windText:hover {
  color: #c38b27!important;
}
#rightHeaderMenu .text {
  color: #030404;
  font-weight: 800;
  margin-left: 5px;
}
#rightHeaderMenu > div > a,
#rightHeaderMenu > div > a > span {
  line-height: 90%;
}
@media only screen and (min-width: 1200px) {
  #rightHeaderMenu {
    height: 180px;
    width: 145px;
    position: relative;
    margin-top: -220px;
    margin-bottom: 40px;
    margin-left: 985px;
  }
  img#myBilling {
    width: 85px!important;
    height: 85px!important;
  }
  #rightHeaderMenu > div:nth-child(1) {
    padding-left: 20px;
    padding-top: 5px;
  }
  #rightHeaderMenu > div:nth-child(2) {
    padding-left: 10px;
    padding-top: 5px;
  }
  #rightHeaderMenu > div:nth-child(3) {
    padding-left: 10px;
    padding-top: 5px;
  }
  #rightHeaderMenu > div:nth-child(4) {
    padding-left: 10px;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  #rightHeaderMenu {
    height: 140px;
    width: 150px;
    position: relative;
    margin-top: -180px;
    margin-bottom: 40px;
    margin-left: 790px;
  }
  img#myBilling {
    width: 75px!important;
    height: 75px!important;
  }
  #rightHeaderMenu > div:nth-child(1) {
    margin-left: 30px;
    margin-right: 5px;
    display: inline-block;
  }
  #rightHeaderMenu > div:nth-child(2) {
    margin-left: 10px;
  }
  #rightHeaderMenu > div:nth-child(3) {
    margin-left: 10px;
  }
  #rightHeaderMenu > div:nth-child(4) {
    margin-left: 10px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  #rightHeaderMenu {
    height: 70px;
    width: 210px;
    position: relative;
    margin-top: -135px;
    margin-bottom: 70px;
    margin-left: 610px;
    font-size: 12px;
  }
  img#myBilling {
    width: 45px!important;
    height: 45px!important;
  }
  #rightHeaderMenu > div:nth-child(1) {
    margin-left: 40px;
    margin-right: 5px;
    margin-top: -2px;
  }
  #rightHeaderMenu > div:nth-child(2) {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: -3px;
  }
  #rightHeaderMenu > div:nth-child(3) {
    margin-left: 15px;
    margin-top: -3px;
    margin-bottom: -3px;
  }
  #rightHeaderMenu > div:nth-child(4) {
    margin-left: 15px;
    margin-top: -3px;
    margin-bottom: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 481px) {
  #rightHeaderMenu {
    height: 75px;
    width: 140px;
    position: relative;
    margin-top: -85px;
    margin-bottom: 10px;
    margin-left: 310px;
  }
  img#myBilling {
    width: 70px!important;
    height: 70px!important;
  }
  #rightHeaderMenu .text {
    display: none;
  }
  #rightHeaderMenu > div {
    font-size: 34px;
  }
  #rightHeaderMenu > div:nth-child(1) {
    margin-left: 5px;
    float: left;
  }
  #rightHeaderMenu > div:nth-child(2) {
    display: none;
  }
  #rightHeaderMenu > div:nth-child(3) {
    display: none;
  }
  #rightHeaderMenu > div:nth-child(4) {
    float: left;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 18px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  #rightHeaderMenu {
    height: 35px;
    width: 110px;
    position: relative;
    margin-top: -75px;
    margin-bottom: 40px;
    margin-left: 260px;
  }
  img#myBilling {
    width: 50px!important;
    height: 50px!important;
  }
  #rightHeaderMenu .text {
    display: none;
  }
  #rightHeaderMenu > div {
    font-size: 24px;
  }
  #rightHeaderMenu > div:nth-child(1) {
    float: left;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 5px;
  }
  #rightHeaderMenu > div:nth-child(2) {
    display: none;
  }
  #rightHeaderMenu > div:nth-child(3) {
    display: none;
  }
  #rightHeaderMenu > div:nth-child(4) {
    float: left;
    margin-top: -2px;
    margin-left: 5px;
    margin-bottom: 0;
  }
}
