ul.showSubMenu {
  height: auto;
}
.navbar.navbar-default {
  background: none;
  border: none;
}
#main-menu {
  z-index: 9999;
  color: #ffffff;
  background-color: #120087;
  background: -webkit-linear-gradient(top, #6c8eeb 0%, #120087 100%);
  background: linear-gradient(to bottom, #6c8eeb 0%, #120087 100%);
}
.navbar-nav a:hover,
.navbar-nav li:hover,
.open > a:visited,
.navbar-nav .open > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav ul,
.nav .open ul,
.nav .open > a:focus,
.nav > li > a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active a:focus,
.nav li > a:focus,
nav a:focus {
  background-color: #120087;
  background: -webkit-linear-gradient(top, #4161c3 0%, #4161c3 100%);
  background: linear-gradient(to bottom, #4161c3 0%, #4161c3 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > .active a:hover,
.nav > li > a:hover,
.nav .open > a,
.nav li > a:hover {
  color: #ffffff;
  border-right-color: #2d4290!important;
  border-left-color: #040404!important;
  text-shadow: 0 -2px 8px #030404;
}
.navbar-nav > li > a {
  border-right: 1px solid #000000;
  border-left: 1px solid #2c5aa2;
  text-align: center;
  padding: 5px;
}
.navbar-nav a,
.nav a,
.nav li,
.dropdown-menu .nav li,
.nav li > a,
.dropdown-menu > li > a,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  color: #fff!important;
  text-decoration: none;
}
.nav .open > a:hover,
ul.dropdown-menu li > a:hover,
.nav .open > a:hover,
nav a:hover {
  background-color: #120087 !important;
}
#main-menu {
  padding: 0;
}
.navbar-menubuilder {
  position: absolute;
  right: 10px;
  top: -20px;
}
.navbar-menubuilder > .toggler > span {
  color: #568ccb;
  padding-top: 1px;
  margin-left: -1px;
  font-size: 18px;
}
.navbar-menubuilder > .toggler > span:hover {
  color: #4a6fa4;
  padding-top: 4px;
  margin-left: 1px;
  font-size: 14px;
}
.navbar-menubuilder > .toggler {
  width: 31px;
  height: 31px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f4f5f5;
  -webkit-box-shadow: rgba(93, 163, 230, 0.44) 2px 2px 2px;
  -moz-box-shadow: rgba(93, 163, 230, 0.44) 2px 2px 2px;
  box-shadow: rgba(93, 163, 230, 0.44) 2px 2px 2px;
}
@media only screen and (min-width: 1200px) {
  .media-container {
    width: 1200px;
  }
  .toggler {
    display: none;
  }
  #headerwrap img#topLogoImage {
    width: 1187px;
    height: auto;
    margin-left: -23px;
  }
  ul#main-menu > li > a {
    padding: 5px;
    height: 26px;
  }
  ul#main-menu {
    padding-left: 0;
    width: 1141px;
  }
  ul#main-menu > li {
    width: 190.1px;
  }
  div.navbar {
    margin-left: 0;
    margin-bottom: 0;
    height: 30px;
    border: 0;
  }
  header {
    margin-bottom: -18px;
  }
}
@media only screen and (max-width: 1200px) {
  .media-container {
    width: 992px;
  }
  .toggler {
    display: none;
  }
  #headerwrap img#topLogoImage {
    width: 977px;
    margin-left: -18px;
  }
  ul#main-menu > li > a {
    padding: 5px;
    height: 30px;
  }
  ul#main-menu {
    padding-left: 0;
    width: 941px;
  }
  ul#main-menu > li {
    width: 156.83px;
  }
  div.navbar {
    margin-left: 0;
    margin-bottom: 0;
    height: 30px;
    border: 0;
  }
  header {
    margin-bottom: -18px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-container {
    width: 768px;
  }
  .toggler {
    display: none;
  }
  #headerwrap img#topLogoImage {
    width: 749px;
    margin-left: -14px;
  }
  ul#main-menu > li > a {
    padding: 5px;
    height: 30px;
  }
  header {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 195px;
  }
  ul#main-menu > li {
    width: 120.1px;
    margin-bottom: 0;
  }
  ul#main-menu {
    padding: 0;
    margin-top: -5px;
    width: 721px;
    height: 30px;
    margin-bottom: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-container {
    width: 480px;
  }
  .toggler {
    display: block;
    margin-top: -20px;
    margin-left: -20px;
  }
  #headerwrap img#topLogoImage {
    width: 468px;
    margin-left: -9px;
  }
  header {
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
  }
  .navbar ul {
    padding: 0;
  }
  .navbar > ul {
    padding: 0;
    height: 0;
  }
  div.navbar {
    margin-top: -1px;
    margin-bottom: -49px;
    width: 450px;
    margin-left: 0;
    height: 0!important;
  }
  .navbar-toggle {
    margin: 0;
    padding: 0;
  }
  .collapse {
    display: block;
  }
  ul#main-menu {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 0;
    display: none;
    background: #4161c3 !important;
  }
  ul#main-menu > li,
  ul#main-menu > li > a,
  ul#main-menu > li > a.has-submenu,
  ul#main-menu > li.open > a,
  ul#main-menu {
    width: 450px;
  }
  .navbar-nav > li > a {
    border-right: none;
    border-left: none;
    text-align: left!important;
    padding: 5px;
  }
  #main-menu li {
    color: #ffffff;
    background-color: #120087;
    border: none;
    border-bottom: #050511 1px solid;
    border-top: #696dc8 1px solid;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .media-container {
    width: 400px;
  }
  .toggler {
    display: block;
    margin-top: -20px;
    margin-left: -40px;
  }
  .navbar-toggle {
    margin: 0;
    padding: 0;
  }
  .collapse {
    display: block;
  }
  div.navbar {
    margin-top: -1px;
    margin-bottom: -49px;
    width: 370px;
    margin-left: 0;
    height: 0!important;
  }
  #main-menu {
    display: none;
  }
  #headerwrap img#topLogoImage#topLogoImage {
    width: 386px;
    margin-left: -8px;
  }
  ul#main-menu > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  ul#main-menu > li,
  ul#main-menu > li > a,
  ul#main-menu > li > a.has-submenu,
  ul#main-menu > li.open > a {
    min-width: 370px;
    max-width: 370px;
  }
  ul#main-menu > li,
  ul#main-menu > li > a,
  ul#main-menu > li > a.has-submenu,
  ul#main-menu > li.open > a,
  ul#main-menu {
    width: 370px;
  }
}
