.text-left p,
.text-left a {
  text-align: left;
}
.text-right p,
.text-right a {
  text-align: right;
}
li.pbcList {
  list-style: none;
  text-indent: 0;
  margin: 10px 0;
}
ul.pbcList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#indexright {
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  vertical-align: top;
  margin: 10px;
}
.news,
.news a {
  font-size: 11px;
  font-weight: bold;
  color: #111111;
  margin: 10px;
  text-align: left!important;
  margin-left: 0!important;
}
.news a:visited {
  color: #111111;
  text-decoration: none;
}
.news a:link {
  color: #111111;
  text-decoration: none;
}
.news a:hover {
  color: #eca539 !important;
  text-decoration: underline;
}
#insideRightSidePBC {
  height: 20px;
}
#insideRightSidePBC2 {
  height: 350px;
}
.paddingNo {
  padding: 0!important;
}
.padding5 {
  padding: 5px!important;
}
.padding10 {
  padding: 10px!important;
}
.padding15 {
  padding: 15px!important;
}
.padding20 {
  padding: 20px!important;
}
.marginNo {
  margin: 0!important;
}
.margin5 {
  margin: 5px!important;
}
.margin10 {
  margin: 10px!important;
}
.margin15 {
  margin: 15px!important;
}
.margin20 {
  margin: 20px!important;
}
.marginTop5 {
  margin-top: 5px!important;
}
.marginTop10 {
  margin-top: 10px!important;
}
.marginTop15 {
  margin-top: 15px!important;
}
.marginTop20 {
  margin-top: 20px!important;
}
body {
  font-family: 'Open Sans', sans-serif;
}
#content {
  background: white;
  padding: 20px 0;
  display: block;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}
.pbcTitle {
  padding-left: 60px;
}
h1 {
  margin: 5px!important;
  font-size: 22px!important;
}
h2 {
  margin: 5px!important;
  font-size: 18px!important;
}
h3 {
  margin: 5px!important;
  font-size: 14px!important;
}
h4 {
  color: #193060;
  margin: 5px!important;
  font-size: 12px!important;
}
h5 {
  color: #193060;
  margin: 5px!important;
  font-size: 10px!important;
}
p {
  font-size: 12px!important;
}
hr {
  margin-top: 2px!important;
  margin-bottom: 10px!important;
  border: 0!important;
  border-top: 1.5px solid #c8d3e2!important;
}
.insetShadow {
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
.shadow {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.blueBack {
  background: #d3deea;
}
.whiteBack {
  background: #fff;
}
.greyBack {
  background: #bfbebb;
}
.blueBack2 {
  background: #afd4f3;
}
.roundCorners5 {
  border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
}
.roundCorners10 {
  border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
}
.title_pbc_design {
  margin: -10px -20px 20px -20px;
  padding: 5px 5px 5px 50px;
  width: auto;
  -webkit-box-shadow: 3px 4px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 23px -4px rgba(0, 0, 0, 0.75);
  border: 0px solid #000000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4d2f4+0,b2d1f4+7,6196ed+8,6196ed+11,b4d2f4+12,b2d1f4+15,b2d1f4+15,22b5e2+16,22b5e2+26,22b5e2+26,b2d1f4+27,b2d1f4+37,b2d1f4+37,a3e5ff+38,a3e5ff+52,b2d1f4+53,b2d1f4+100 */
}
footer {
  color: white;
  width: 100%;
  padding-top: 10px;
}
footer p,
footer a,
footer {
  color: white;
  font-size: 11px;
  word-spacing: 1px;
}
@media only screen and (min-width: 1200px) {
  #pbc_site > #content {
    margin-top: -30px;
    margin-left: 0!important;
    margin-right: 0!important;
    max-width: 1140px;
    padding: 20px 30px;
  }
  #rightSidePBC {
    float: right;
  }
  footer {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  #leftSidePBC,
  #rightSidePBC {
    height: 500px;
  }
  #rightSidePBC {
    float: right;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  #pbc_site > #content.container {
    margin-top: -30px;
    margin-left: 0!important;
    margin-right: 0!important;
    max-width: 940px;
    padding: 20px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  #leftSidePBC,
  #rightSidePBC {
    height: 500px;
  }
  #rightSidePBC {
    float: right;
  }
  footer {
    display: block;
    padding-top: 10px;
  }
  #pbc_site > #content.container {
    margin-left: 0!important;
    margin-right: 0!important;
    max-width: 720px;
    padding: 20px;
  }
  #secondDivFooter :nth-child(12) {
    display: none;
  }
  #secondDivFooter {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 481px) {
  footer {
    display: block;
    padding-top: 5px;
  }
  #secondDivFooter :nth-child(8) {
    display: none;
  }
  #secondDivFooter {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  #content,
  #pbc_site,
  .container,
  .container-fluid {
    padding: 0;
  }
  footer {
    display: block;
    padding-top: 5px;
  }
  #secondDivFooter :nth-child(18) {
    display: none;
  }
  #secondDivFooter {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}
