# Created by .ignore support plugin (hsz.mobi)
.env
composer.phar
/.idea
/vendor
public_html/wp
public_html/bower_components
.sass-cache
.vagrant
node_modules
config.yaml
puphpet/config.yaml
public_html/app/assets/css/build
npm-debug.log
