version: '2'

volumes:
  db:
    {}

networks:
  frontend:
    external: true
  backend:
    driver: bridge


services:
  laravel:
    restart: always
    container_name: ${IMAGE_NAME}
    build: .
    image: pbc/laravel:latest
    environment:
      VIRTUAL_HOST: ${SERVER_NAME}
      ServerName: ${SERVER_NAME}
    volumes:
      - ./:/var/www/html/
    ports:
      - "80"
    networks:
      - frontend
      - backend
  db:
    container_name: ${SUB_IMAGE_NAME}db
    restart: always
    image: mysql:5.7
    volumes:
      - db:/var/lib/mysql/
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      explicit_defaults_for_timestamp: 1
      TIMESTAMP: NOT NULL
      VIRTUAL_PORT: 3306
    ports:
      - "3306"
    networks:
      - backend

  redis:
    container_name: ${SUB_IMAGE_NAME}redis
    image: redis:3
    restart: always
    expose:
      - '6379'
    networks:
      - backend
    #redis conf file