span.onRight span{
	color:black;
}
@media only screen and (min-width: 1200px) {
	#weather, #weather2{
		position: absolute;
		width: 170px;
		left: -160px;
		text-align: center;
		text-transform: uppercase;
	}#weather {
		position: absolute;
		top: 20px;
		display:inline-block;
	}
	#weather2 {
		position: absolute;
		top: 90px;
		display:inline-block;
	}
	#weather .currently, #weather2 .currently{
		margin: 0 5px;
	}
	#weather .onRight, #weather2 .onRight{
		text-align: center;
		align-content: center;
		display: block;
		float: right;
		width: 150px;
		margin-left: -120px;
	}
	#weather img, #weather2 img{
		/*color: #326a94;*/
		position:relative;
		width:120px;
		height: auto;
	}
	#weather img{
		left:-40px;
	}
	#weather2 img{
		left:-65px;
	}
	#weather span.onRight span.cityText, #weather2 span.onRight span.cityText{
		color: #326a94;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		line-height: 10px;
		display: block;
	}
	#weather span.onRight span.tempText, #weather2 span.onRight span.tempText{
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		line-height: 10px;
		display: block;
	}
	#weather span.onRight span.windText, #weather2 span.onRight span.windText{
		font-size: 12px;
		text-align: center;
		line-height: 10px;
		display: block;
	}
}
@media only screen and (max-width: 1200px) {
	#weather, #weather2{
		position: absolute;
		width: 170px;
		left: -150px;
		text-align: center;
		text-transform: uppercase;
		line-height: 20px;
	}#weather {
		 top: 5px;
		padding-left: 10px;
	 }
	#weather2 {
		top: 70px;
	}
	#weather .currently, #weather2 .currently{
		margin: 0 5px;
	}
	#weather .onRight, #weather2 .onRight{
		text-align: center;
		align-content: center;
		display: block;
		float: right;
		width: 150px;
		margin-left: -110px;
	}
	#weather img, #weather2 img{
		/*color: #326a94;*/
		position:relative;
		width:100px;
		height: auto;
	}
	#weather img{
		left:-10px;
	}
	#weather2 img{
		left:-25px;
	}
	#weather .cityText, #weather2 .cityText{
		color: #326a94;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		line-height: 10px;
		display: block;
		padding-left: 10px;
	}
	#weather .tempText, #weather2 .tempText{
		font-weight: bold;
		font-size: 13px;
		text-align: center;
		line-height: 8px;
		display: block;
		padding-left: 10px;
	}
	#weather .windText, #weather2 .windText{
		font-size: 12px;
		text-align: center;
		line-height: 8px;
		display: block;
		padding-left: 10px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
	#weather, #weather2{
		position: absolute;
		width: 170px;
		left: -140px;
		text-align: center;
		text-transform: uppercase;
	}#weather {
		 top: 5px;
	 }
	#weather2 {
		top: 45px;
	}
	#weather .currently, #weather2 .currently{
		margin: 0 5px;
	}
	#weather .onRight, #weather2 .onRight{
		text-align: center;
		align-content: center;
		display: block;
		float: right;
		width: 150px;
		margin-left: -110px;
	}
	#weather img, #weather2 img{
		/*color: #326a94;*/
		position:relative;
		width:60px;
		height: auto;
	}
	#weather img{
		left:-10px;
	}
	#weather2 img{
		left:-25px;
	}
	#weather .cityText, #weather2 .cityText{
		color: #326a94;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		line-height: 6px;
		display: block;
		padding-left: 10px;
	}
	#weather .tempText, #weather2 .tempText, #weather .windText, #weather2 .windText{
		font-size: 10px;
		text-align: center;
		line-height: 3px;
		display: block;
		padding-left: 10px;
	}
	#weather .tempText, #weather2 .tempText{
		font-weight: bold;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 481px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
}
