#front_page_vod
{

	
	


 
	
	


}
#front_page_vod h2.info
{

	padding: 5px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	

}
#front_page_vod .disc_container
{

	
	

	
	

}
#front_page_vod .disc_container .clearboth
{

	text-align:left;
	
	

}
#front_page_vod .disc_container .clearboth .truncate_more_link
{

	display: inline;
	font-size: 9px;
	font-weight:700;	
	

}
#front_page_vod ul.Cat
{

	
	

	
	

}
#front_page_vod ul.Cat li
{
 padding: 5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;


}
